body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #064c06;
    color: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #043c04;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  h1 {
    color: #fffdfd;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  h2 {
    color: #2c3e50;
    margin-top: 2rem;
  }
  
  h3 {
    color: #34495e;
    margin-top: 1rem;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  strong {
    font-weight: bold;
  }
  
  a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  