
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #043c04;
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}


nav {
  flex: 1 1 200px;
  background-color: #064c06;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: 10px;
  background-color: #076607;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

nav a:hover {
  background-color: #064f06;
}


main {
  flex: 3 1 600px;
  padding: 2rem;
  background-color: white;
  border-radius: 0 0 12px 12px;
}

section {
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav {
    order: -1;
  }

  nav a {
    font-size: 1.1rem;
  }

  main {
    padding: 1rem;
  }
}
